*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    color: white!important;
    font-size: 1.2rem;
}
.linear {
    background-image: linear-gradient(0deg, black, grey);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Navbar & menu bg */
.navbar {
    border-bottom: 1px solid snow;
    background-color: black;
}
.navbar .nav-links {
    font-size: 1.5rem;
    font-weight: 700;
    color: snow!important;
    text-decoration: none;
}
.navbar .nav-links:hover {
    color: lightgray!important;
    border-top: 2px solid red;
}

.navbar-toggler-icon{
    width: 50px;
    height: 50px;
    border: 5px solid red;
    border-style: double;
}
.toggler {
    border: 2px solid white;
    margin: 7px 0 10px 0;
}
.toggler:nth-child(1){
    transform: rotate(90deg);
    width: 69%;
    margin: 45% 21.8%;
    z-index: 1;
}
.toggler:nth-child(2){
    transform: rotate(180deg);
    width: 45%;
    margin: -19% 15%;
    z-index: 2;
    border-top-right-radius: 50% ;
    border-top-left-radius: 50% ;
}
.toggler:nth-child(3){
    transform: rotate(180deg);
    width: 50%;
    margin: -85% 30%;
    z-index: 3;
    border-bottom-right-radius: 50% ;
    border-bottom-left-radius: 50% ;
}

/* Presentation */
.imgProfil {
    margin-top: 25px;
    height: 250px;
    border-radius: 35%;
    filter: grayscale(90%);
    border: 2px solid snow;
}
h1 {
    color: black;
    font-weight: 700;
}
.lead {
    font-weight: 600;
    letter-spacing: 1.5px;
}
.lead span {
    color: red;
    font-size: 1.4rem;
    border-bottom: 2px solid black;
}
.quote {
    color: black;
    font-size: 1.1rem;
    font-style: italic;
}


/* style btn */
.btn{
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
    border: 2px dotted snow;
}
.btn:hover{
    background-color: #9b8579;
    border: 2px dotted black;
}

/* */


/* Form contact */
.titreContact {
    padding: 40px 0 50px 0;
    margin-top: 100px;
}
#form_name, #form_lastname, #form_email, #form_message{
    border: 2px solid red;
    background-color: lightgrey;
    color: black;
    font-weight: 600;
}